<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Datos</title>
</head>
<body>
    <br>
    <h1>Floreria</h1>
    <br>
    <br>
    {% with mensajes=get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3> {{msj}} </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <form action="/ingresar" method="POST">
        <input type="text" name="txtNombre" placeholder="Escribe el Nombre" >
        <input type="int" name="Cantidad" placeholder="Escribe la cantidad" >
        <input type="decimal" name="Precio" placeholder="Escribe el Precio" >
    
        <button type="submit">Ingresar</button>
</body>
</html>